<ul class="customers">
  <li *ngFor="let customer of customers">
    <a routerLink="/detail/{{customer.id}}">
      <img src="{{ customer.avatar }}" class="avatar"/> 
      {{customer.firstName}} {{customer.lastName}} 
      <span *ngIf="isBirthday(customer)" class="material-icons icon">
        cake
      </span>
    </a>
    <button type="button" 
            class="delete" 
            title="delete customer"
            (click)="delete(customer)">
      <i class="fa fa-trash" style="font-size:20px;"></i>
    </button>
  </li>
</ul>