<div *ngIf="customer">
  <div class="customer">
    <h2>{{ customer.firstName | uppercase }} {{ customer.lastName | uppercase }} Details</h2>
    <div class="details">
      <div><span>First Name: </span>{{ customer.firstName }}</div>
      <div><span>Last Name: </span>{{ customer.lastName }}</div>
      <div><span>Birthday: </span>{{ customer.birthDate }}</div>
      <div><span>Email: </span>{{ customer.email }}</div>
    </div>
    <button type="button" 
            class="btn btn-primary" 
            (click)="goBack()">
      go back
    </button>
  </div>
</div>