h2 {
  color: #A80000;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.messages {
  padding: 50px;
}

.message {
  text-align: center;
}

.margin-left {
  margin-left: -27px;
}